@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap);

:root {
  /* ## Colors */
  /* ### Primary */
  --VeryDarkBlueMainBackground: hsl(233, 47%, 7%);
  --DarkDesaturatedBlueCardBackground: hsl(244, 38%, 16%);
  --SoftVioletAccent: hsl(277, 64%, 61%);
  --imagen: hsl(277, 90%, 29%);

  /* ### Neutral */
  --WhiteMainHeadingStats: hsl(0, 0%, 100%);
  --SlightlyTransparentWhiteMainParagraph: hsla(0, 0%, 100%, 0.75);
  --SlightlyTransparentWhiteStatHeadings: hsla(0, 0%, 100%, 0.6);

  /* ## Typography */
  /* ### Body Copy */
  --FontSize: 15px;
  --fontFamilyInter: 'Inter', sans-serif;
  --fontFamilyLexand: 'Lexend Deca', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 60px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VeryDarkBlueMainBackground);
  font-family: var(--fontFamilyInter);
  position: relative;
}
.main {
  max-width: 950px;
  background-color: var(--DarkDesaturatedBlueCardBackground);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.main__information {
  min-width: 250px;
  max-width: 550px;
  padding: 70px clamp(20px, 10%, 60px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.information__title {
  color: var(--WhiteMainHeadingStats);
}
.title__strong {
  color: var(--SoftVioletAccent);
}
.information__details {
  color: var(--SlightlyTransparentWhiteStatHeadings);
  font-size: var(--FontSize);
  line-height: 25px;
}

.information__info {
  margin-top: 60px;
  color: var(--SlightlyTransparentWhiteStatHeadings);
  display: flex;
  gap: 30px;
  justify-self: flex-end;
}
.companies__details,
.templates__details,
.queries__details {
  text-transform: uppercase;
  font-family: var(--fontFamilyLexand);
  font-size: var(--FontSize);
}
.details__number {
  color: var(--WhiteMainHeadingStats);
  font-weight: bold;
  font-size: 2rem;
}
.main__imagen {
  min-width: max(240px, 400px);
  min-height: 373px;
  background: var(--SoftVioletAccent);
  background-image: url(./images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .information__title,
  .information__details {
    text-align: center;
  }
  .information__info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__imagen {
    width: 100%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  color: var(--WhiteMainHeadingStats);
}
.attribution a {
  color: var(--SoftVioletAccent);
  font-weight: bold;
  text-decoration: none;
}
